body {
    background: url('/static/images/site/background_image_1.jpg') no-repeat center center/cover;
}
.forget_password_container {
    width: 100%;
    padding: 30px;
    max-width: 400px;
    color: #000000;
    max-width: 400px;
    border-radius: 8px;
    margin: 150px auto;
    background: white;
    background-color: #c1d7e8c2;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
}
#step_verify_otp .otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
@media only screen and (max-width: 576px) {
    .forget_password_container {
        margin: 50px auto;
    }
}
.password-container {
    position: relative;
}
.password-toggle-icon {
    position: absolute;
    top: 19px;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333333a8;
    z-index: 100;
}