body {
    background: url('/static/images/site/background_image_1.jpg') no-repeat center center/cover;
}
.login-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #000000;
    border-radius: 8px;
    background-color: #c1d7e8c2;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
}
.login-card h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd
}
.login-card .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-card button {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.login-card button:hover {
    background-color: #0056b3;
}
.login-card .form-label {
    font-size: 17px;
}
@media (max-width: 576px) {
    .login-card {
        padding: 20px;
    }
}
.password-container {
    position: relative;
}
.password-toggle-icon {
    position: absolute;
    top: 55px;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333333a8;
}