/* signup.css */
.signup_container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
}

.signup_container h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #625555;
    border-bottom: 1px solid #ddd
}

.signup_container .form-group {
    margin-bottom: 15px;
}

.signup_container .form-group label {
    font-size: 17px;
    color: #565454;
}

.signup_container .form-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.otp-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
    display: none;
}
.otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
.otp-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signup_container_blur::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 5;
}
