{% extends 'base.html' %}
{% load static %}

{% block title %}Ridex Leather - Wishlist{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/orders/user_wishlist.css' %}">
{% endblock %}

{% block content %}
    <div class="wishlist-container">
        <h1 class="wishlist-main-heading">My Wishlist</h1>
        <p id="error-message" class="border border-danger rounded text-center mb-3 text-danger p-2" style="display: none;"></p>
        <div id="wishlist-items"></div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/orders/user_wishlist.js' %}"></script>
{% endblock %}