{% extends 'base.html' %}
{% load static %}

{% block title %}Ridex Leather - Cart{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/orders/user_cart.css' %}">
{% endblock %}

{% block content %}
    <div class="cart-container">
        <h1 class="cart-main-heading">My Cart</h1>
        <p id="error-message" class="border border-danger rounded text-center mb-3 text-danger p-2" style="display: none;"></p>
        <div id="cart-items"></div>
        <div class="cart-footer">
            <div id="total-amount" style="font-weight: bold; color: #02000d; font-size: 18px;">Total: $0</div>
            <button class="btn btn-outline-success" id="proceed-to-pay">Proceed to Pay</button>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/orders/user_cart.js' %}"></script>
{% endblock %}