{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{% block title %}Ridex Leather{% endblock %}</title>
    <link rel="icon" href="{% static 'images/site/site_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Header with Logo, Search, and Auth Links -->
    <header class="header_navbar">
        {% include 'header.html' %}
    </header>

    <!-- Main Content Area -->
    <main>  
        <!-- Main Alert Message -->
        <div id="alertBox" class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
            <div class="d-flex flex-direction-column align-items-center">
                <div class="message"></div>
                <button type="button" class="btn" onclick="$(this).parent().parent().fadeOut();" aria-label="Close">&#x2718;</button>
            </div>
        </div>
        <!-- Phone Number Add Modal -->
        <div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="phoneModalLabel">Enter Your Phone Number</h5>
                        <button type="button" class="btn btn-outline-secondary close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-muted small mb-3">To proceed with placing your order, please provide your phone number.</p>
                        <p id="show-error-message" class="border border-danger rounded text-center mb-3 text-danger p-2" style="display: none;"></p>
                        <form id="phoneForm" class="text-center">
                            <div class="form-group">
                                <input type="tel" class="form-control" id="phoneNumber" name="mobile_number" placeholder="Enter your phone number" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success mt-5">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        {% include 'footer.html' %}
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
