{% load static %}


<!-- Footer Section -->
<footer class="base-footer text-center text-md-start">
    <div class="container">
        <div class="row">
            <!-- Quick Links -->
            <div class="col-md-4 col-lg-2 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about_section">About</a></li>
                    <li><a href="/home">Products</a></li>
                    <li><a href="/#contact_us">Contact us</a></li>
                    <li><a href="/refund_policy">Refund Policy</a></li>
                    <li><a href="/shipping_policy">Shipping Policy</a></li>
                    <li><a href="/terms_and_condition">Terms &#x26 Condition</a></li>
                </ul>
            </div>
            <!-- About Us -->
            <div class="col-md-8 col-lg-4">
                <h5>About Us</h5>
                <p>At Ridex Leather, we are passionate about delivering premium-quality leather products tailored for equestrian enthusiasts and professionals. Specializing in horse saddles, bridles, harnesses, and other leather riding accessories, we combine craftsmanship with durability to ensure the perfect blend of comfort, style, and functionality.</p>
            </div>
            <!-- Contact Info -->
            <div class="col-md-4 col-lg-3 mb-4">
                <h5>Contact Info</h5>
                <p><i class="fas fa-map-marker-alt"></i> Chaman Ganj, Kanpur, India</p>
                <p><i class="fas fa-phone"></i> +91-9076575532</p>
                <p><i class="fas fa-envelope"></i> ridexleatherhelpdesk @gmail.com</p>
            </div>
            <!-- Category list -->
            <div class="col-md-8 col-lg-3 mb-4">
                <h5>Categories</h5>
                <ul class="footer-category-section"></ul>
            </div>
        </div>
        <!-- Social Media Links -->
        <div class="row d-md-flex justtify-content-between mt-4">
            <div class="col-md-6 text-md-start text-center">
                <div class="social-icons">
                    <a href="https://www.facebook.com/share/15pyZCcMk3/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/Ridex_Saddlery?t=7ZOEtJ2GT_hcdyKcvq6XFQ&s=09"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/ridex_saddlery_horse?utm_source=qr&igsh=YzIwb2N5N3E0MzRj"><i class="fab fa-instagram"></i></a>
                    <a href="https://youtube.com/@ridex_001?si=_HJmwRLDEU-om1cs"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-6 text-md-end text-center mt-md-0 mt-4">
                <label class="me-2">Choose Currency</label>
                <select id="currencySelector">
                    <option value="USD" selected>US Dollar</option>
                    <option value="INR">Indian Rupees</option>
                </select>
            </div>
        </div>
        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">© 2025 Ridexleathers. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>