{% extends "base.html" %}
{% load static %}

{% block title %}Home - Ridex Leather{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Categories will be dynamically loaded here -->
<div class="header-categories" id="categories-container"></div>
<!-- Banner images will be automatically load here -->
<div id="bannerImageSlider" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators"></div>
    <!-- Slides -->
    <div class="carousel-inner"></div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerImageSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerImageSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Categories wise products list -->
<div class="container" id="home_categories_container"></div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}